<div class="container-fluid">
    <!--<app-search (searchName)='searchRepository($event)'></app-search> -->
    <p>{{ resultCount }}</p>

    <div *ngFor= 'let repository of getRepositoryRequest.searchRepository'>
      <p><a href='{{ repository.html_url}}'>{{ repository.name}}</a></p>
      <p>Created on: {{repository.created_at}}</p>
      <p>Description: {{repository.description}}</p>
    </div>

   <!-- <button class="btn btn-outline-warning" (click)="Reload()">Reload</button> -->
    
</div>

