<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <app-search (searchName)="getUserProfile($event)"></app-search>
      </div>
    </div>

    <div class="row" id="Properties" ng-style="myStyle">
        <div class="col-md-5" id="Gitphoto">
         <img src='{{user.avatar_url}}' alt='Profile-Picture of Git-User'>
        </div>

        <div class="col-md-7" id="Properties1" ng-style="myStyle">
          <h3 ng-style= "myStyle">Github Profile Details</h3>
         <ul>
             <li> Name:<a href='{{user.html_url}}' target='_blank'>{{user.login | lastName}}</a> </li>
             <br>
             <li>Repositories:{{user.public_repos}}</li>
             <br>
             <li>Created On: {{user.created_at}}</li>
             <br>
             <li>Followers: {{user.followers}}</li>
             <br>
             <li>Following: {{user.following}} </li>
          </ul>
        </div>
        
    </div>
        
    <!-- <app-repository></app-repository>
    ngFor let repository of getRepositoryRequest.repository -->

    <div> 
      <h3 ng-style="myStyle" id="repo">Repositories</h3>
      <ul>
        <li><a href= '{{repository_html_url}}' target:_blank></a>{{repository.name}}</li>
        <li> Created on :{{repository.created_at}} </li>
        <li>Description :{{repository.description}}</li>
      </ul>
    </div>

 
</div>
