<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <app-search (searchName)='getUserProfile($event)'></app-search>
        <p>Search Username</p>
      </div>
    </div>

    <div class="row" id="Properties" ng-style="myStyle">
        <div class="col-md-3">
         <img src='{{user.avatar_url}}' alt='Profile-Picture of Git-User'>
        </div>

        <div class="col-md-9">
         <ul>
             <li>{{user.name}}</li>
             <br>
             <li> Name:<a href='{{user.html_url}}' target='_blank'>{{user.login}}</a> </li>
             <br>
             <li>Repositories:{{user.public_repos}}</li>
             <br>
             <li>Hireable: {{user.hireable}}</li>
             <br>
             <li>Created On: {{user.created_at}}</li>
             <br>
             <li>Followers: {{user.followers}}</li>
             <br>
             <li>Following: {{user.following}} </li>
          </ul>
        </div>
        
    </div>
        
     <div *ngFor='let repository of getProfileRepo.otherRepo'>
        <ul>
            <li>{{repository.name}}</li>
            <li> <a href = '{{repository.html_url}}' target='blank'>{{repository.name}}</a></li>
            <li>Created on: {{repository.created_at}}</li>
            <li>Description: {{repository.description}}</li>
        </ul>
    

    </div> 

 
</div>
