<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <app-search (searchName)="getUserProfile($event)"></app-search>
      </div>
    </div>

    <div class="row" id="Properties" ng-style="myStyle">
        <div class="col-md-5">
         <img src='{{user.avatar_url}}' alt='Profile-Picture of Git-User'>
        </div>

        <div class="col-md-7" id="Properties1" ng-style="myStyle">
         <ul>
             <li>{{user.name}}</li>
             <br>
             <li> Name:<a href='{{user.html_url}}' target='_blank'>{{user.login}}</a> </li>
             <br>
             <li>Repositories:{{user.public_repos}}</li>
             <br>
             <li>Hireable: {{user.hireable}}</li>
             <br>
             <li>Created On: {{user.created_at}}</li>
             <br>
             <li>Followers: {{user.followers}}</li>
             <br>
             <li>Following: {{user.following}} </li>
          </ul>
        </div>
        
    </div>
        
    <app-repository></app-repository>

 
</div>
